<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>182815347842-qqf4crl6ajhfs3nv4n58u475br0psf61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182815347842-qqf4crl6ajhfs3nv4n58u475br0psf61</string>
	<key>API_KEY</key>
	<string>AIzaSyB5tDDb-C5jNAkz4Anfkfos-8v1HaMGpXA</string>
	<key>GCM_SENDER_ID</key>
	<string>182815347842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meatingapp</string>
	<key>PROJECT_ID</key>
	<string>meating-app-48b2e</string>
	<key>STORAGE_BUCKET</key>
	<string>meating-app-48b2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182815347842:ios:a0030deccf728cb7</string>
	<key>DATABASE_URL</key>
	<string>https://meating-app-48b2e.firebaseio.com</string>
</dict>
</plist>